/*componente de boton*/

.button {
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: $Roboto;
    font-size: $medium;
    font-weight: $bold;
    height: 3.3rem;;
    
}


.button_primary {
    border: none;
    color: $white;
    background-color: $blue-bell;

    &:hover {
        background-color: $soap;
        color: $outer-space;

    }

    &:focus {
        background-color: $papel-lavender;
        color: $outer-space;
    }
}


.button_secundary {
    border: none;
    color: $white;
    background-color: $red;

    &:hover {
        background-color: $red-dos;
        color: $outer-space;

    }

    &:focus {
        background-color: $red-tres;
        color: $outer-space;
    }
}

