/*componente de boton*/

.button {
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: $Roboto;
    font-size: $medium;
    font-weight: $bold;
    height: 3.3rem;;
    
}


.button_primary {
    border: none;
    color: $white;
    background-color: $blue-bell;

    &:hover {
        background-color: $papel-lavender;

    }

    &:focus {
        background-color: $gray;
    }
}
