.dropdown-menu {
    right: 5% !important;
    left: none !important;

}
.dropdown-toggle::after {
    display:none;
}

.nav__logo--size {
    width: 150px;
}

.link-menu  { 
    display: none !important;
}

@media only screen and (max-width: 500px) {

    .link-menu  { 
        display: inline-block !important;
    }

}