h2,
h1 { font-family: $Roboto;}

.card h3 {font-size: $medium;}

h3,
h1 {font-weight: $bold;}

p, small { font-family:  $Open;}

p {font-weight: $regular;}

.card p{font-size: $small;}

small  { font-size: $reg;}

h1 { font-size: $large;}

h3 {
    font-weight: $medium;
}