//COLORES

$white: #ffffff;
$platinum: #e8ebe4;
$gray:   #bec1bb;

$blue-bell: #a491d2;
$soap: #cdc3e6;
$papel-lavender: #d4dcff;

$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;


$Roboto: 'Roboto', sans-serif;
$Open: 'Open Sans', sans-serif;



$bold: 700;
$regular: 400;

$large: 45px;
$medium: 16px;
$small: 14px;
$x-small: 10px;