//COLORES

$white: #ffffff;
$platinum: #e8ebe4;
$gray:   #bec1bb;

$blue-bell: #92dce5;
$soap: #caf4f9;
$papel-lavender: #e0f7fa;

$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;

$red: #ef6461;
$red-dos: #f29694;
$red-tres: #efbdbc;


$Roboto: 'Roboto', sans-serif;
$Open: 'Open Sans', sans-serif;



$bold: 700;
$regular: 400;

$large: 1.4rem;
$medium: 1.2rem;
$reg: 1rem;
$small: 0.8rem;
$x-small: 0.6rem;