.header--background {
    background-image: url(../images/image-banner.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--size {
    height: 40vh;
    width: 100vw;
}

.header--border {
    border-bottom: 1px solid $platinum;

}

.titulo--spacing {
    text-align: left;

}

@media only screen and (max-width: 500px) {

    .articulos--space { 
        padding: 0rem 3rem;
    }

    .ocultar__mobile {
        display: none !important;
    }

    .user-position--center {
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .titulo--spacing {
        text-align: center;
        
    }

}