.header--background {
    background-image: url(../images/image-banner.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--size {
    height: 40vh;
    width: 100vw;
}

.header--border {
    border-bottom: 1px solid 
}